.assignmentTable {
    width: 30rem;
    margin: 1% 10% 1% 1%; 
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    border-collapse: collapse;
}

.assignmentTable tr {
    border: 1px solid #0d0606;
}

.assignmentTable td {
    padding:0.2rem;
    border: 1px solid #000000;
}